<% provide(:title, 'Q and A') %>

<%= render partial: "/partials/pages_header", locals: {title: 'Q AND A', subtitle: 'Ask away'} %>

<div class="page_body">


<div class="page_subheader">How can I search for words/entries?</div>
<div class="page_text">
By using the search bar to the left of the menu up top or the one on the home page. 
This site does not currently support regular expressions, but the following wildcard characters will work:
<ul style="list-style:none;">
<li><b>#</b> &nbsp;&nbsp;&nbsp;... matches any consonant (including Y)</li>
<li><b>@</b> &nbsp;&nbsp;... matches any vowel (also including Y)</li>
<li><b>?</b> &nbsp;&nbsp;&nbsp;... matches any character at all</li>
<li><b>*</b> &nbsp;&nbsp;&nbsp;... matches any number of characters</li>
</ul>
</div>

<div class="page_subheader">Can I link to a particular puzzle?</div>
<div class="page_text">
Please do. The URL in the address bar for each puzzle is a permalink, so you don't have to worry about it changing over time.
</div>

<div class="page_subheader">Can I scrape this site?</div>
<div class="page_text">
Please don't. I can afford to keep this site free for the time being as long as bandwidth demands don't go through the roof.
However, I do encourage data mining and analysis, so if you would like any or all of my data for offline use feel free to <%= link_to 'drop a line', contact_path %> and I'll be happy to work with you to provide what you need in the format you need it.
Better yet, tell me what sort of stats and information you'd like and I'll provide it on the site for everyone to use.
</div>

<div class="page_subheader">Are you allowed to be doing this?</div>
<div class="page_text">
Yes, I received permission from the rights holders to present all of the content. If your work appears on this site and you're not happy about that, <%= link_to 'drop me a line', contact_path %> and we'll sort it out.
</div>

<div class="page_subheader">Why isn't [some puzzle] in the database?</div>
<div class="page_text">
For one of the following reasons:
<ul>
<li>I asked for permission and did not receive it. Nothing I can do about that, except hope that the rights holder changes his or her mind in the future.</li>
<li>Either I haven't gotten around to it yet or permission is pending. For instance, I'd still like to add the MMMM series, Brad Wilber's Bewilbered themelesses, stuff from the "Island of Lost Puzzles" in the crosswordfiend forum, and puzzles from a few other lesser known outlets.</li>
<li>It already appears in another database like <%= link_to 'xwordinfo', 'http://www.xwordinfo.com/', target: 'blank' %> or <%= link_to 'cruciverb', 'http://www.cruciverb.com/', target: 'blank' %>.</li>
<li>I wasn't even aware it existed. If you've published puzzles that should be in my database but aren't, <%= link_to 'talk to me', contact_path %>. I'll be happy to take a look.</li>
<li>It's of very low quality and/or does not meet modern American crossword standards.</li>
</ul>
</div>


<div class="page_subheader">Why does [some page] look so crappy/weird/like a 5-year-old made it?</div>
<div class="page_text">
Because I suck at design. I welcome suggestions for improvement.
</div>


<div class="page_subheader">Why doesn't [some feature] work properly?</div>
<div class="page_text">
Probably because I didn't test it extensively enough (or at all) in the browser you're using.
I use Google Chrome v. 31.0.1650.63 m currently, and everything looks and behaves like it should.
I have tested most things in the other current major browsers and everything seemed to work there too.
Please let me know if you encounter anything broken and I'll fix it.
</div>

<div class="page_subheader">What did you use to make this site?</div>
<div class="page_text">
This site was built with Ruby on Rails 3.2, and I serve it to you using Apache via Phusion Passenger. 
For collecting, converting, and analyzing the content, I mostly used Perl scripts.
I use Git for version control; in fact, you can checkout the source on <%= link_to 'GitHub', 'https://github.com/peterbroda/xword_db', target: 'blank' %>.
</div>

</div>
