<% 
  if @source.display_name.nil?
    provide(:title, @source.name)
  else
    provide(:title, @source.display_name)
  end
%>

<div class="page_title_bar"> <!-- can't use the partial here, because the subtitle is a link -->
  <div class="page_header"><%= @source.name %></div>
  <div class="page_header_line">&nbsp;</div>
  <div class="page_altheader"><%= link_to @source.url, @source.url, target: '_blank' %></div>
  <div style="clear:both;">&nbsp;</div>
</div>

<div class="resource_page_body">

  <div class="puzzle_list_preview_column">
    <%= render partial: "/partials/puzzle_preview_column" %>
  </div>

  <div class="puzzle_list_left_column">

    <div class="page_text">
      <%= @source.description.html_safe %>
    </div>

    <%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @puzzles_by_year, page_source: "source"} %>

  </div>
</div>
