<% provide(:title, "Hall of Fame") %>

<%= render partial: "/partials/pages_header", locals: {title: 'HALL OF FAME', subtitle: 'word count'} %>

<div class="resource_page_body">

  <div class="puzzle_list_preview_column">
    <%= render partial: "/partials/puzzle_preview_column" %>
  </div>

  <div class="puzzle_list_left_column">

    <div class="page_text">
Note that only 15x15 puzzles are listed here, since it's only really meaningful to compare puzzles of the same dimensions and most of the puzzles in this database are 15x15. For a meaningful comparison of "openness" between grids of all sizes (and a better measure of "openness" all around), check out the <%= link_to 'Average Word Length', hofwl_path %> Hall of Fame page.<br/><br/>Also not listed here are variety puzzles involving significantly different grid styles (cryptics, marching bands, etc) and/or constraints (vowelless, anything goes/something different, etc).
    </div>

    <div class="page_subheader">Freestyle grids (fewer than 66 words)</div>
      <%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @f_puzzles_by_wc, page_source: "hofwc"} %>
    <div class="page_subheader">Themed grids (fewer than 74 or greater than 80 words)</div>
      <%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @t_puzzles_by_wc, page_source: "hofwc"} %>

  </div>
</div>
