<div class="puzzle_list">

  <div class="puzzle_list_recordlist">
    <% puzzles_sorted.each_pair do |key, value| %>
      <div class="puzzle_list_header"><%= key.html_safe %></div>
      <% value.each do |p| %>

	<div class="puzzle_list_record">

	  <div class="puzzle_list_record_right">
	    <div class="plr_constructors">
	      <% p.constructors.each_index do |i| %>
                <%= link_to p.constructors[i].name, constructor_path(p.constructors[i]) %>
                <% if ((i+1) < p.constructors.length) %>--<% end %>
	      <% end %>
	    </div>
	    <div class="plr_sources">
 	      <% p.sources.each_index do |i| %>
                <%= link_to p.sources[i].display_name, source_path(p.sources[i]) %>
                <% if ((i+1) < p.sources.length) %>--<% end %>
              <% end %>
	    </div>
	  </div><!-- right div -->

	  <div class="puzzle_list_record_left" id="<%= p.seq_no %>">
	    <a href='/puzzles/<%= p.seq_no %>'>
	      <div class="puzzle_list_link">
		<div class="puzzle_list_record_center">
		  <div>
		    <div class="plr_type"><%= p.puzzle_type %></div>
		  </div>
		  <div>
		    <span class="plr_stats"><%= p.size %> - <%= p.word_count %>/<%= p.block_count %>, <%= p.avg_word_length %></span>
		  </div>
		</div>
		<div>
	          <div>
		    <span class="plr_title"><%= p.title.html_safe %></span>
	          </div>
	          <div>
		    <% if !p.publication_date.nil? %>
		      <span class="plr_date"><%= I18n.t("date.abbr_month_names")[p.publication_date.month] %> <%= p.publication_date.day %>, <%= p.publication_date.year %></span>
		    <% end %>
	          </div>
	        </div>
	        <div style="clear:both;"></div>
	      </div>
	    </a>
	  </div><!-- left div -->

          <div style="clear:both;"></div>

      </div><!-- end of puzzle_list_record -->


      <% end %>
    <% end %>
  </div>
  <div style="clear:both;"></div>
</div>
