<div id="megamenu">
  <div id="search_bar">
    <%= form_tag "/search", :method => :get, :id => 'search_form' do %>
      <%= text_field_tag :search, params[:search]%>
    <% end %>
  </div>
  <a href="#" id="black_megamenu_square">?</a>
  <ul id="nav">
    <li>
	<%= link_to 'Puzzles', puzzles_path %>
	<ul>
	  <li><a href="#">Find by theme type</a></li>
	  <li><a href="#">Find by answer words</a></li>
	  <li><a href="#">Find by custom query</a></li>
	</ul>
    </li>
    <li>
	<%= link_to 'Sources', sources_path %>
	<ul>
	  <%
	    Source.find(:all).each do |src|
	      if src.display_name.nil?
		%><li><%= link_to src.name, source_path(src) %></li><%
	      else
		%><li><%= link_to src.display_name, source_path(src) %></li><%
	      end
	    end
	  %>
	</ul>
    </li>
    <li>
	<%= link_to 'Constructors', constructors_path %>
    </li>
    <li>
	<%= link_to 'Hall of Fame', halloffame_path %>
	<ul>
	  <li><%= link_to 'Word Count', hofwc_path %></li>
	  <li><%= link_to 'Word Length', hofwl_path %></li>
	  <li><%= link_to 'Personal Favourites', hofpersonal_path %></li>
	</ul>
    </li>
    <li>
	<%= link_to 'About', about_path %>
    </li>
  </ul>

  <%= link_to 'CROSS EXAMINATION', root_path, id: 'logo' %>

  <div style="clear:both">&nbsp;</div>
</div>
