<div id="puzzle_main_info">
  <div id="puzzle_constructors"> 
  <%
  constructors.each do |c|
    if c.eql?(constructors[constructors.size-1]) && constructors.size > 1
      %> and<%
    end
    %> <%= link_to c.name, constructor_path(c) %><%
    if constructors.size > 2 && !c.eql?(constructors[constructors.size-1])
      %>,<%
    end
  end
  
  %>
  </div>
  <table id="puzzle_info_table">
    <tr>
	<td class="info_field_name">SIZE</td>
	<td class="info_field_value"><%= size %>
    </tr>
    <tr>
	<td class="info_field_name">WORDS</td>
	<td class="info_field_value"><%= @word_count %>
    </tr>
    <tr>
	<td class="info_field_name">BLOCKS</td>
	<td class="info_field_value"><%= @black_squares %>
    </tr>
    <tr>
	<td class="info_field_name">LETTERS</td>
	<td class="info_field_value"><%= @white_squares %>
    </tr>
    <tr>
	<td class="info_field_name">AVG. LENGTH</td>
	<td class="info_field_value"><%= @avg_length %>
    </tr>
    <tr>
	<td class="info_field_name">TYPE</td>
	<td class="info_field_value">
    	  <%
	    if type.blank?
	      type = 'unknown'
      	    end
          %>
	  <a href="../puzzle_search?search_term=<%= type %>&search_type=type&commit=search"><%= type %></a>
	</td>
  </tr>
  <% if !@puzzle.instructions.nil? %>
  <tr>
    <td class="info_field_name">NOTES</td>
    <td class="info_field_value" id="long_info_text"><%= @puzzle.instructions.html_safe %></td>
  </tr>
  <% end %>
  <% if !@meta_answer.nil? %>
  <tr>
    <td class="info_field_name">ANSWER</td>
    <td class="info_field_value" id="meta_answer"><%= @meta_answer.html_safe %></td>
  </tr>
  <% end %>
  <% if !@theme_explanation.nil? %>
  <tr>
    <td class="info_field_name">HUH?</td>
    <td class="info_field_value" id="long_info_text"><%= @theme_explanation.html_safe %></td>
  </tr>
  <% end %>
  <% if !@puzzle.theme_squares.nil? %>
  <tr>
    <td>&nbsp;</td>
    <td class="info_field_value" id="highlight_button">Click to show theme squares</td>
  </tr>
  <% end %>
</table>
</div><!-- end of puzzle_main_info -->
