<h2><%= @constructor.name %></h2>
<p><%= @constructor.bio %></p>
<hr/>

<p><b>Puzzles on which <%= @constructor.name %> is listed as a constructor:</b></p>

<%= render partial: "/partials/list_puzzles", locals: {puzzles_by_year: @puzzles_by_year, page_source: "constructor"} %>

<hr/>

<h3>All Constructors</h3>
<ul>
<%
  Constructor.find(:all).each do |con|
    %><li><%= link_to con.name, constructor_path(con) %></li><%
  end
%>
</ul>

<script>
$( "#accordion" ).accordion();
</script>
