<% provide(:title, @constructor.name) %>

<div class="page_title_bar">
  <div class="page_header"><%= @constructor.name %></div>
</div>

<div class="resource_page_body">

<div class="page_subheader">Who?</div>
<div class="page_text">
<%= @constructor.bio.html_safe %>
</div>

<div class="page_subheader">
<%= @total_puzzles %> puzzle<%if @total_puzzles != 1%>s<%end%> by <%= @constructor.name %>:
</div>

<%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @puzzles_by_year, page_source: "constructor"} %>

</div>

