<%
  current_uri = request.env['PATH_INFO']
%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)).html_safe %></title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div id="wrapper">
  <% if !current_uri.eql? '/' %>
    <%= render partial: "/partials/megamenu" %>
  <% end %>

  <div id="body_wrapper">
    <%= yield %>
  </div>

  <div class="container">
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>
<script>
  $("#black_megamenu_square").click(function(){
    $("#search_form").trigger('submit.rails');  
  });
</script>

</body>
</html>
