<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)).html_safe %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<!--  <%= render 'layouts/header' %> -->
<div id="wrapper">
  <%= render partial: "/partials/megamenu" %>
  <div style="clear:both;">&nbsp;</div>
  <div id="body_wrapper">

    <%= yield %>

  </div>
  <div class="container">
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>
<script>
  $("#black_megamenu_square").click(function(){
    $("#search_form").trigger('submit.rails');  
  });
</script>

</body>
</html>
