<% provide(:title, @puzzle.title) %>

<div class="puzzle">

<!--
########### TOP INFORMATION FIELD ####################
-->



<div id="puzzle_grid_and_info">

  <%= render partial: "/partials/puzzle_title_bar", locals: {title: @puzzle.title, date: @puzzle.publication_date, source: @source_display_name} %>

<!--
########### DISPLAY PUZZLE GRID ####################
-->
  <div id="puzzle_grid">

<!--
########### PREV/NEXT PUZZLE LINKS ####################
-->
  <div id="next_prev_links">
  <%
    if !@prev_puzzle.nil?
      %><%= link_to "Previous Puzzle", puzzle_path(@prev_puzzle) %><%
    end
    if (!@prev_puzzle.nil?) && (!@next_puzzle.nil?)
      %>&nbsp;&nbsp;|&nbsp;&nbsp;<%
    end
    if !@next_puzzle.nil?
      %><%= link_to "Next Puzzle", puzzle_path(@next_puzzle)%><%
    end
  %>
  </div>
  <%
    if @special_type.eql?("outer")
      %><table class="solution_grid_with_outer"><%
    else
      %><table class="solution_grid"><%
    end
  %>
  <%
    @the_grid.each do |this_row|
      %><tr><%
      this_row.each do |this_square|
        %>
	  <td class="<%= this_square.class_name %>">
	  <div class="<%= this_square.class_name %>" id="<%= this_square.id_name %>">
	    <%
#	      if this_square.class_name.eql?("black_square")
#	        %>&nbsp;<%
#	      else
	        %>
		  <div class="number"><%= @grid_numbers[this_square.id_name].html_safe %></div>
		  <div class="letter"><%= this_square.contents %></div>	      
	        <%
#	      end
	    %>
	  </div>
	  </td>
        <%
      end
      %></tr><%
    end
    %>
    </table>
  </div>

  <%= render partial: "/partials/puzzle_info_bar", locals: {title: @puzzle.title, date: @puzzle.publication_date, source: @source_display_name, constructors: @puzzle.constructors, size: @width.to_s + "x" + @height.to_s, type: @puzzle.puzzle_type} %>

  <div style="clear: both;">&nbsp;</div>

</div> <!-- end of puzzle_grid_and_info -->


<!--
########### RIGHT INFORMATION FIELD ####################
-->
<!--
  <div id="puzzle_small_info">
    <table id="small_info_table">
      <tr>
	<td class="small_field_name">
	  Average word length
	</td>
	<td class="small_field_value">
	  5.5
	</td>
      </tr>
      <tr>
	<td class="small_field_name">
	  Scrabble average
	</td>
	<td class="small_field_value">
	  3.5
	</td>
      </tr>
      <tr>
	<td class="small_field_name">
	  Some other field
	</td>
	<td class="small_field_value">
	  ???
	</td>
      </tr>
      <%
	@letter_order.each do |l|
	  %><tr><%
	    %><td class="small_field_name"><%= l %></td><%
	    %><td class="small_field_value"><%= @letter_counts[l] %></td><%
	  %></tr><%
	end
      %>
    </table>
  </div>
-->

<!--
########### CLUE/ANSWER LIST ####################
-->
<div id="clues">
  <div class="clue_column" id="across_clues">
    <span class="clue_column_header">ACROSS</span>
    <table class="clue_list">
    <% 
	@a_clues.each do |c|
	  %><tr>	      
	      <td class="clue_text"><%= c.clue.html_safe %></td>
	      <td class="clue_number"><%= c.number %></td>
	      <td class="clue_answer"><%= c.answer %></td>
	  </tr><%
	end
    %>
    </table>
  </div>
  <div class="clue_column" id="down_clues">
    <span class="clue_column_header">DOWN</span>
    <table class="clue_list">
    <% 
	@d_clues.each do |c|
	  %><tr>	      
	      <td class="clue_answer"><%= c.answer %></td>
	      <td class="clue_number"><%= c.number %></td>
	      <td class="clue_text"><%= c.clue.html_safe %></td>
	  </tr><%
	end
    %>
    </table>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div> <!--end of clues div-->

</div><!-- end of puzzle div-->

