<% provide(:title, @puzzle.title) %>
<p><a href="xpf_list.html">Back to XPF List</a></p>
<div class="puzzle">


<!--
########### TOP INFORMATION FIELD ####################
-->

<h2 class="top_information_field" id="puzzle_title"><%= @puzzle.title %></h2>
<div class="top_information_field" id="person_info">
<span class="top_information_field" id="constructor">Constructor(s): 
<%
  @puzzle.constructors.each do |c|
    %><%= link_to c.name, constructor_path(c) %><%
  end
%>
</span>
|
<span class="top_information_field" id="editor">Editor(s): 
<%
  @puzzle.editors.each do |e|    
    %><%= link_to e.name, editor_path(e) %><%
  end
%>
</span>
|
<span class="top_information_field" id="publisher">Publisher: </span>
</div>
<p class="top_information_field" id="pub_date">Original Publication Date: <%= @puzzle.publication_date %></p>
<p class="top_information_field" id="source">Source: 
<%
  @puzzle.sources.each do |src|    
    %><%= link_to src.name, source_path(src) %><%
  end
%>
</p>


<!--
########### PREV/NEXT PUZZLE LINKS ####################
-->
<p class="top_information_field" id="next_prev_links">
<%
  if !@prev_puzzle.nil?
%>
  <%= link_to "Previous Puzzle", puzzle_path(@prev_puzzle) %>
<%
  end
  if (!@prev_puzzle.nil?) && (!@next_puzzle.nil?)
%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%
  end
  if !@next_puzzle.nil?
%>
  <%= link_to "Next Puzzle", puzzle_path(@next_puzzle)%>
<%
  end
%>
</p>

<!--
########### PUZZLE INSTRUCTIONS ####################
-->
<p class="top_information_field" id="puzzle_instructions">
<%
  if !@puzzle.instructions.nil?
    %>Instructions: <%= @puzzle.instructions.html_safe %><%
  end
%>
</p>

<!--
########### DISPLAY PUZZLE GRID ####################
-->
<%
  if @special_type.eql?("outer")
    %><table class="solution_grid_with_outer"><%
  else
    %><table class="solution_grid"><%
  end
%>
<%
  @the_grid.each do |this_row|
    %><tr><%
    this_row.each do |this_square|
      %>
	<td class="<%= this_square.class_name %>">
	<div class="<%= this_square.class_name %>" id="<%= this_square.id_name %>">
	  <%
#	    if this_square.class_name.eql?("black_square")
#	      %>&nbsp;<%
#	    else
	      %>
		<div class="number"><%= @grid_numbers[this_square.id_name].html_safe %></div>
		<div class="letter"><%= this_square.contents %></div>	      
	      <%
#	    end
	  %>
	</div>
	</td>
      <%
    end
    %></tr><%
  end
%>
</table>


<!--
########### BOTTOM INFORMATION FIELD ####################
-->
<!--
<p class="bottom_information_field" id="copyright">&nbsp;</p>
<p id="notepad">Notepad: </p>
<p id="my_notes">Peter's notes: </p>
<p id="meta_solution">Solution: </p>
<p id="meta_explanation">Explanation: </p>
-->

<!--
########### THEME EXPLANATION BOX ####################
-->
<%
  if !@puzzle.explanation.nil?
    %><div class="theme_explanation"><%
      if !@meta_answer.nil?
        %><p>Meta Answer: <b><%= @meta_answer %></b></p><%
      end
      %><p><%= @theme_explanation.html_safe %></p>
    </div><%
  end
%>
<hr />


<!--
########### CLUE/ANSWER LIST ####################
-->
<table class="clue_table">
<tr>
  <th>Across</th>
  <th>Down</th>
</tr>
<tr>
  <td>
    <ul class="clue_list">
    <% 
	@a_clues.each do |c|
	  %><li>	      
	      <span class="clue_number"><%= c.number %>.&nbsp;</span>
	      <span class="clue_and_answer">
		<span class="clue_text"><%= c.clue.html_safe %>&nbsp;</span> 	      
	        <span class="clue_answer"><%= c.answer %></span>
	      </span>
	  </li><%
	end
    %>
    </ul>
  </td>
  <td>
    <ul class="clue_list">
    <% 
	@d_clues.each do |c|
	  %><li>	      
	      <span class="clue_number"><%= c.number %>.&nbsp;</span>
	      <span class="clue_and_answer">
		<span class="clue_text"><%= c.clue.html_safe %>&nbsp;</span> 	      
	        <span class="clue_answer"><%= c.answer %></span>
	      </span>
	  </li><%
	end
    %>
    </ul>
  </td>
</tr>
</table>

</div>

